<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

    <%- include('../partials/navigation.ejs') %>

    <section id="profile">
        <img src="/img/avatar.jpg" alt="avatar" id="avatar">
        <p id="lore">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia dicta eaque, fugit quibusdam non, est suscipit minus atque voluptatem rerum qui, ipsa labore similique porro hic nisi eos cupiditate doloribus!</p>
        <div id="user">
            <p id="username"><%= user.local.username %></p>
            <p id="role"><%= user.role %></p>
        </div>
        <div id="activity">
            <h1>Activity</h1>
            <ul>
                <li><h6>Lorem ipsum dolor sit amet consectetur.</h6><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, sed sunt beatae debitis aperiam et!</p><i>(xx - time) ago</i></li>
                <li><h6>Lorem ipsum dolor sit amet consectetur.</h6><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, sed sunt beatae debitis aperiam et!</p><i>(xx - time) ago</i></li>
                <li><h6>Lorem ipsum dolor sit amet consectetur.</h6><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, sed sunt beatae debitis aperiam et!</p><i>(xx - time) ago</i></li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
        </div>
        <div id="info">
            <ul>
                <li>Joined: <i><%= user.createdAt.toLocaleDateString() %></i></li>
                <li>Posts: 0</li>
            </ul>
        </div>
    </section>
</body>
</html>