<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.html') %>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>

    <%- include('partials/navigation.html') %>
    <%- include('partials/title.html') %>

    <div class="col_border"><a>.</a></div>
    <div class="col_center">

        <a style="color: red;" href="/updates/new" class="btn btn-success">New Article</a>

        <% articles.forEach(article => { %>
            <div class="content">
                <img src="img/img.png" alt="img">
                <div class="content-info">
                    <h2><%= article.title %></h2>
                    <a class="content-desc" href="updates/<%= article.slug %>"><%= article.description %></a>
                    <p><%= article.createdAt.toLocaleDateString() %></p>
                    <div class='settings'>
                        <a href="updates/edit/<%= article.id %>">Edit</a>
                        <form action="/updates/<%= article.id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>