<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>

    <%- include('partials/head.ejs') %>
</head>
<body>

    <%- include('partials/navigation.ejs') %>

    <%- include('partials/header.ejs') %>

    <div class="col_border"><a>.</a></div>
    <div class="col_center">

        <% updates.forEach(update => { %>
            <div class="content">
                <img src="img/img.png" alt="img">
                <div class="content-info">
                    <h2><%= update.title %></h2>
                    <a class="content-desc" href="update/<%= update.slug %>"><%= update.description %></a>
                    <p><%= update.createdAt.toLocaleDateString() %></p>

                    <% if(user != null && user.role == 'ADMIN') { %> 
                        <div class='settings'>
                            <a href="update/edit/<%= update.id %>">Edit</a>
                            <form action="/update/<%= update.id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    <% } %> 
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>