<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('.././partials/head.ejs') %>

    <link rel="stylesheet" href="/css/content-page.css?v=<?php echo time(); ?>" />
    
    <script type="text/javascript" src="/js/spoiler.js"></script>
    <title><%- update.title %></title>
</head>
<body>

    <%- include('.././partials/navigation.ejs') %>
    <%- include('.././partials/header.ejs') %>

    <div class="col_border"><a>.</a></div>
    <div class="col_center">
        <a href="/">« All posts</a>
        <a href="/update/edit/<%= update.id %>" id="edit">Edit</a>
        <div class="content">
            <a id="date"><%= update.createdAt.toLocaleDateString() %></a>
            
            <h2><%- update.title %></h2>

            <div>
            <%- update.sanitizedHtml %>
            </div>
        </div>
    </div>
</body>
</html>